{% extends "navbar.html" %}
{% load static %}
{% block body %}
<!-- Start Page title and tab -->
<div class="section-body">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <div class="header-action">
                <h1 class="page-title">Dashboard</h1>
                <ol class="breadcrumb page-breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">GrievEase</a></li>
                    <li class="breadcrumb-item"><a href="#">University</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </div>
            <ul class="nav nav-tabs page-header-tab">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#admin-Dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="section-body mt-4">
    <div class="container-fluid">
        <div class="row clearfix row-deck">
            <div class="col-6 col-md-4 col-xl-4">
                <div class="card">
                    <div class="card-body ribbon">
                        <div class="ribbon-box green" data-toggle="tooltip" title="New Grievances">{{griev_count}}</div>
                        <a href="#" class="my_sort_cut text-muted">
                            <i class="fa fa-file-excel-o"></i>
                            <span>Grievances</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-4">
                <div class="card">
                    <div class="card-body ribbon">
                        <div class="ribbon-box green" data-toggle="tooltip" title="New Professors">{{faculty_count}}</div>
                        <a href="{% url 'professors' %}" class="my_sort_cut text-muted">
                            <i class="fa fa-black-tie"></i>
                            <span>Professors</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-4">
                <div class="card">
                    <div class="card-body ribbon">
                        <div class="ribbon-box orange" data-toggle="tooltip" title="New Staff">{{staff_count}}</div>
                        <a href="{% url 'staff' %}" class="my_sort_cut text-muted">
                            <i class="fa fa-user-circle-o"></i>
                            <span>Staff</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="admin-Dashboard" role="tabpanel">
                    <div class="row clearfix">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">University Report</h3>
                                    <div class="card-options">
                                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                                class="fe fe-chevron-up"></i></a>
                                        <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                class="fe fe-maximize"></i></a>
                                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i
                                                class="fe fe-x"></i></a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-sm-flex justify-content-between">
                                        <div class="font-12 mb-2"><span>Measure How Fast You’re Growing
                                                Monthly Recurring Revenue. <a href="#">Learn More</a></span>
                                        </div>
                                        <div class="selectgroup w250">
                                            <label class="selectgroup-item">
                                                <input type="radio" name="intensity" value="low"
                                                    class="selectgroup-input" checked="">
                                                <span class="selectgroup-button">1D</span>
                                            </label>
                                            <label class="selectgroup-item">
                                                <input type="radio" name="intensity" value="medium"
                                                    class="selectgroup-input">
                                                <span class="selectgroup-button">1W</span>
                                            </label>
                                            <label class="selectgroup-item">
                                                <input type="radio" name="intensity" value="high"
                                                    class="selectgroup-input">
                                                <span class="selectgroup-button">1M</span>
                                            </label>
                                            <label class="selectgroup-item">
                                                <input type="radio" name="intensity" value="veryhigh"
                                                    class="selectgroup-input">
                                                <span class="selectgroup-button">1Y</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div id="apex-chart-line-column"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">New Student List</h3>
                                    <div class="card-options">
                                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                                                class="fe fe-chevron-up"></i></a>
                                        <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                                class="fe fe-maximize"></i></a>
                                        <a href="#" class="card-options-remove" data-toggle="card-remove"><i
                                                class="fe fe-x"></i></a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0 text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Staff Name</th>
                                                    <th>Designation</th>
                                                    <th>Assigned Grievance</th>
                                                    <th>Date of Completion</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Jens Brincker</td>
                                                    <td>Electrician</td>
                                                    <td>Class 408- AC Not Working</td>
                                                    <td>27/05/2016</td>
                                                    <td>
                                                        <span class="tag tag-success">Resolved</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Jens Brincker</td>
                                                    <td>Electrician</td>
                                                    <td>Class 408- AC Not Working</td>
                                                    <td>27/05/2016</td>
                                                    <td>
                                                        <span class="tag tag-success">Resolved</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}