{% load static %}
<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>:: GrievEase :: Tempplate </title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" />
    <!-- Plugins css -->
    <link rel="stylesheet" href="{% static 'plugins/summernote/dist/summernote.css' %}" />
    <!-- Core css -->
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/dropify/css/dropify.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/sweetalert/sweetalert.css' %}">

</head>

<body class="font-muli theme-cyan gradient">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
        </div>
    </div>

    <div id="main_content">
        <!-- Start Main top header -->
        <div id="header_top" class="header_top">
            <div class="container">
                <div class="hleft">
                    <a class="header-brand" href="{% url 'home' %}"><i class="fa fa-graduation-cap brand-logo"></i></a>
                    <div class="dropdown">
                        <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i
                                class="fe fe-align-center"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Main leftbar navigation -->
        <div id="left-sidebar" class="sidebar">
            <h5 class="brand-name">GrievEase<a href="javascript:void(0)" class="menu_option float-right"><i
                        class="icon-grid font-16" data-toggle="tooltip" data-placement="left"
                        title="Grid & List Toggle"></i></a></h5>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu-uni">University</a></li>
            </ul>
            <div class="tab-content mt-3">
                <div class="tab-pane fade show active" id="menu-uni" role="tabpanel">
                    <nav class="sidebar-nav">
                        <ul class="metismenu">
                            <li class="active"><a href="{% url 'home' %}"><i
                                        class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                            <li><a href="{% url 'grievance' %}"><i
                                        class="fa fa-black-tie"></i><span>Grievances</span></a>
                            </li>
                            <li><a href="{% url 'professors' %}"><i
                                        class="fa fa-black-tie"></i><span>Professors</span></a>
                            </li>
                            <li><a href="{% url 'staff' %}"><i class="fa fa-user-circle-o"></i><span>Staff</span></a>
                            </li>
                            <li><a href="{% url 'students' %}"><i class="fa fa-users"></i><span>Students</span></a></li>
                            <li><a href="{% url 'courses' %}"><i
                                        class="fa fa-graduation-cap"></i><span>Courses</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="page">
            <!-- Start Page header -->
            <div class="section-body" id="page_top">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="left">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="What you want to find">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="notification d-flex">
                                <div class="dropdown d-flex">
                                    <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1"
                                        data-toggle="dropdown"><i class="fa fa-language"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="#"><img class="w20 mr-2"
                                                src="{% static 'images/flags/us.svg' %}" alt="">English</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><img class="w20 mr-2"
                                                src="{% static 'images/flags/es.svg' %}" alt="">Spanish</a>
                                        <a class="dropdown-item" href="#"><img class="w20 mr-2"
                                                src="{% static 'images/flags/jp.svg' %}" alt="">japanese</a>
                                        <a class="dropdown-item" href="#"><img class="w20 mr-2"
                                                src="{% static 'images/flags/bl.svg' %}" alt="">France</a>
                                    </div>
                                </div>
                                <div class="dropdown d-flex">
                                    <a href="javascript:void(0)" class="chip ml-3" data-toggle="dropdown">
                                        <span class="avatar">
                                            <i class="fe fe-user" style="font-size: 24px;"></i>
                                        </span>
                                        {% if request.session.user_name %}
                                        {{ request.session.user_name }}
                                        <!-- Display logged-in user's first name -->
                                        {% else %}
                                        Guest <!-- Default text if no user is logged in -->
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        {% if request.session.user_name %}
                                        <a class="dropdown-item" href="#"><i class="dropdown-icon fe fe-user"></i>
                                            Profile</a>
                                        <a class="dropdown-item" href="#"><i class="dropdown-icon fe fe-settings"></i>
                                            Settings</a>
                                        <a class="dropdown-item" href="#"><span class="float-right"><span
                                                    class="badge badge-primary">6</span></span><i
                                                class="dropdown-icon fe fe-mail"></i> Inbox</a>
                                        <a class="dropdown-item" href="javascript:void(0)"><i
                                                class="dropdown-icon fe fe-send"></i> Message</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)"><i
                                                class="dropdown-icon fe fe-help-circle"></i> Need help?</a>
                                        <a class="dropdown-item" href="{% url 'logout' %}"><i
                                                class="dropdown-icon fe fe-log-out"></i> Sign out</a>
                                        {% else %}
                                        <a class="dropdown-item" href="{% url 'login' %}"><i
                                                class="dropdown-icon fe fe-log-in"></i> Sign in</a>
                                        {% endif %}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block body %} {% endblock %}
        </div>
    </div>

    <script src="{% static 'bundles/lib.vendor.bundle.js' %}"></script>

    <!-- Start all plugin js -->
    <script src="{% static 'bundles/counterup.bundle.js' %}"></script>
    <script src="{% static 'bundles/apexcharts.bundle.js' %}"></script>
    <script src="{% static 'bundles/summernote.bundle.js' %}"></script>

    <!-- Start project main js  and page js -->
    <script src="{% static 'js/core.js' %}"></script>
    <script src="{% static 'js/page/index.js' %}"></script>
    <script src="{% static 'js/page/summernote.js' %}"></script>

    <!-- Start Plugin Js -->
    <script src="{% static 'plugins/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

    <script src="{% static 'js/page/dialogs.js' %}"></script>
    <script src="{% static 'plugins/dropify/js/dropify.min.js' %}"></script>
    <script src="{% static 'js/form/dropify.js' %}"></script>
</body>

</html>