{% extends 'navbar.html' %}
{% load static %}
{% block body %}
<div class="section-body">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
            <div class="header-action">
                <h1 class="page-title">Staff</h1>
                <ol class="breadcrumb page-breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">GrievEase</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Staff Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane" id="staff-details staff-add">
    <div class="row clearfix">
        <div class="col-lg-10 col-md-12 col-sm-12 mt-15">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Account Details</h3>
                </div>
                <div class="card-body">
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label>Gender</label>
                            <select class="form-control show-tick" readonly>
                                <option value="">-- Gender --</option>
                                <option value="10">Male</option>
                                <option value="20">Female</option>
                            </select>
                        </div>
                        <div class="col-md-8 col-sm-12 mb-3">
                            <label>Designation</label>
                            <select class="form-control show-tick" readonly>
                                <option value="">-- Designation --</option>
                                <option value="10">Electrician</option>
                                <option value="20">Plumber</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group mt-2 mb-3">
                                <input type="file" class="dropify">
                                <small id="fileHelp" class="form-text text-muted">This is some
                                    placeholder block-level help text for the above input. It's
                                    a bit lighter and easily wraps to a new line.</small>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="submit" class="btn btn-outline-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}